body {
    background-image: url("assets/imgs/bg.webp");
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    font-family: "Splatfont2", serif;
}

.tab-content {
    display: none;
}

@font-face {
    font-family: 'Splatfont2';
    src: url('assets/fonts/Splatfont2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Splatfont';
    src: url('assets/fonts/Splatfont.ttf');
    font-weight: normal;
    font-style: normal;
}

a:link {
    display: inline-block; 
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

li {
    margin-bottom: 10px;
}

.qrcode {
    transition: transform 0.2s ease-in-out; 
    width: 100%
}

.qrcode:hover {
    transform: scale(1.025)
}

#mainn {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#topOrder {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#topOrder2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#homeOrder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#aboutOrder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sideOrder {
    width: 115%;
}

.socialGrid {
    display: grid;
    gap: 2%;
}

.title {
    font-size: 175%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Splatfont", serif;
}

.columnTop {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 10px;
    width: 100%;
}

.columnCharacter {
    padding: 2%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 1%;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 10px;
    height: auto;
    width: auto;
}

.columnMiddle {
    padding: 2%;
    padding-top: 0;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 10px;
    height: auto;
    width: auto;
}

.columnSide {
    padding: 8%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    width: 83%;
    height: auto;
    order: inherit;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.60);
}


.characterGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    margin-bottom: 1%;
}

.characterBlock {
    text-align: left;
    width: 36%;
    height: 10%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid #000000;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: "Splatfont2", serif;
    display: inline-block; 
    transition: transform 0.2s ease-in-out; 
    line-height: 30px;
}

.weapon-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.list-pages {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 30px;
}

.list-pages li:not(:last-child)::after {
    content: "|";
    position:relative;
    right: -15px;
}

.consoleList {
    text-align: left;
    vertical-align: middle;
}

.heythatsme {
    width: 23%;
    height: fit-content;
    border-radius: 15px;
    margin: 8px;
}

.socialList {
    text-align: left;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: "Splatfont2", serif;
    display: inline-block; 
    transition: transform 0.2s ease-in-out; 
}

.socialList:nth-of-type(1):hover {
    background-color: #fe002f;
    transform: scale(1.1) rotate(1.5deg);
}

.socialList:nth-of-type(2):hover {
    background-color: #2d196f;
    transform: scale(1.1) rotate(1.5deg);
}

.socialList:nth-of-type(3):hover {
    background-color: #fb096c;
    transform: scale(1.1) rotate(1.5deg);
}

.socialList:nth-of-type(4):hover {
    background-color: #00395e;
    transform: scale(1.1) rotate(1.5deg);
}

.socialList:nth-of-type(5):hover {
    background-color: #5dac45;
    transform: scale(1.1) rotate(1.5deg);
}

.socialList:nth-of-type(6):hover {
    background-color: #5865f2;
    transform: scale(1.1) rotate(1.5deg);
}

.socialList:hover {
    cursor: pointer;
}

.pageList {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: "Splatfont2", serif;
    display: inline-block; 
    transition: transform 0.2s ease-in-out; 
}

ul.list-pages li:hover .pageList {
    cursor: pointer;
}

ul.list-pages li:nth-child(1):hover .pageList {
    background-color: #e2a633;
    transform: scale(1.1) rotate(1.5deg);
}

ul.list-pages li:nth-child(2):hover .pageList {
    background-color: #239855;
    transform: scale(1.1) rotate(1.5deg);
}

ul.list-pages li:nth-child(3):hover .pageList {
    background-color: #a941ea;
    transform: scale(1.1) rotate(1.5deg);
}

ul.list-pages li:nth-child(1).active .pageList {
    background-color: #e2a633 !important;
    transform: scale(1.1) rotate(1.5deg) !important;
    cursor: default !important;
}

ul.list-pages li:nth-child(2).active .pageList {
    background-color: #309451 !important;
    transform: scale(1.1) rotate(1.5deg) !important;
    cursor: default !important;
}

ul.list-pages li:nth-child(3).active .pageList {
    background-color: #a941ea !important;
    transform: scale(1.1) rotate(1.5deg) !important;
    cursor: default !important;
}

@media screen and (orientation: portrait) {
    #mainn {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}